<p> Hello <%= @user.name %>,</p>

<p>
  You are receiving this e-mail because your APRA membership is about to expire. <br>
  We do not automatically renew it, so you would have to do it if you wish to extend your members' benefit.<br>
  Click at this <%= link_to "link", "apra.science/becomeamember", class: "btn-form" %> to keep enjoying our members' exclusive content. <br> <br>

  Best regards,
  APRA Staff
</p>