<div>
<p> Hello <%= @user.name %>,</p>

<p>
  Thank you very much for your support and contribution to APRA. <br> <br>
  We are happy to welcome you in our family. Enjoy access to our exclusive content and do not forget to connect with us on social media.
  here is the link to our members area where you can find exclusive content and useful resources, as well as links to access members-only events. <br> <br>
  As an APRA member, you will also receive the monthly APRA newsletter. If you use Facebook, join our private group for members. 
  Get in touch with us at <strong>research.apra@gmailcom</strong> if you would like to get actively involved with our organization! <br>

  <%= link_to "Members Area", "apra.science/membersarea", class: "btn-form" %> <br>
  <%= link_to "Blog", "apra.science/blog", class: "btn-form" %> 
  <br>
  <br>
  <br>

  Thank you, <br>
  Marco Aqil <br>
  Founder - APRA Foundation
</p>
  


</div>