<p> Hello <%= @user.name %>,</p>

<p>
  We are very happy you signed in on our website. <br>
  We would like to invite you to subscribe as a member to access exclusive content in our members area.
  That include access to members-only special events, interviews and journal clubs. <br>
  Follow us on social media to stay tuned with our latest blog posts.

  <%= link_to "link", "apra.science/blog", class: "btn-form" %>
</p>
