<div class="form-container">
    <h1 class="text-center mt-4"> Edit article </h1>



    <%= render 'form' %>


    <%= link_to 'Cancel and return to Blog', articles_path, class: "btn-form ml-5 mt-2" %>

</div>