    <%= render 'shared/blogbar' %>

    <div class="article__wrapper">

    <h1 class="text-center mt-4 mb-10">Create a new article </h1>

    <%= render 'articles/form' %>

    <%= link_to 'Return to blog', blog_path, class: "btn-form" %>

    </div>

