<%= render 'shared/blogbar' %>

<div class="orders__container">
  <% if @order.state == 'paid' %> 
  <div class="membershipshow__logo mt-2"></div> 

      <h1 class="">Thank you</h1>

      <h5 class="">We appreciate your contribution to APRA and are happy to welcome you in our association </h5>
   
      
         <p class=""> <span>Enjoy</span> our exclusive content and follow our social media for upcoming news and events</p>
         <%= link_to 'Members Area', '/membersarea', class: "btn btn-small btn-purple" %>
         <%= link_to 'Newsletter', 'http://eepurl.com/gh_N5z', class: "btn btn-small btn-purple" %>
         </div>
      <% else %>
      <div class="membershipshow__logo"></div> 
          <h1 class="mb-3 mt-5">Something went wrong</h1>
          <h5 class="mb-5 mt-2">Your payment has not succeeded</h5>
        <%= link_to 'Try again', membership_path(@membership), class: "btn btn-small btn-purple" %>
        </div>
      <% end %>
      
</div>
   