<div class="admin__wrapper">
  <h2>Members List</h2>
  <% @members.each do |user| %>
    <div class="admin__userbox">
        <h5><%=user.name%></h5>
        <p><%=user.email%></p>
        <p><%= user.premium_until.strftime('%a, %m %B %Y') %></p>
        <% if user.student %>
         <p>Student</p>
         <%else%>
         <p>Not student</p>
         <%end%>
    </div>
  <% end %>
</div>
