<%= render 'shared/blogbar' %>

<div class="manifesto">

    <div class="manifesto__container">

        <div class="manifesto__container--header"> 
            <h1 class="manifesto__container--header-txt"> Core Principles</h1>
            <div class="manifesto__container--header-picbox"></div>
            
        </div>

        <div class="manifesto__container--body">

            <p class="manifesto__container--body-intro"> 
            In a previous post we have briefly outlined the motivations and goals of APRA. Here, we take a more in-depth look at the principles that define APRA’s philosophy and approach. This post will hopefully provide a clearer picture of what APRA is about. 
            
            </p>

            <div class="manifesto__container--body-corpus">
                <p class="manifesto__container--body-corpus-p1"> 
                <ul class="manifesto__container--body-corpus-mainlist"> 
                    <li class="list-item"> <span class="bold">Research and education focus.</span> The focus of the association is defined by all academic efforts (from sciences and humanities) concerning substances and practices that show promise for therapy and research, but that suffer an impaired research development because of their legal status or psychoactive effects. Classical psychedelics (LSD, psilocybin) are the prime example, hence the choice of including the term in the association’s name; but this definition also includes substances such as cannabis, MDMA, and non-pharmacological means to induce altered states of consciousness. The main practical activities of APRA consistsof organising lectures, journal clubs, symposia, at the level expected by an academic audience (i.e. beyond “popular science”). The main goals of APRA are providing accurate and up to date information to students and researchers, contributing to the reduction of unscientific stigma within academia, and promoting relevant research efforts within Amsterdam institutions.</li>
                    <li class="list-item"><span class="bold">Openness, transparency.</span> Everyone with an interest in psychedelic research is welcome to join APRA events and become a member, regardless of educational background; however, most activities are aimed at university students and researchers. We value transparency and the open-source paradigm, therefore all APRA content that is not directly affected by privacy or copyright law will be shared freely online.</li>
                    <li class="list-item"> <span class="bold">Collaboration, Activity, Fairness.</span> APRA favours all forms of collaboration, externally, with other student groups and associations, and internally, by adopting a coordinated and decentralised strategy.
                        
                        <ul class="manifesto__container--body-corpus-sublist"> 
                            <li class="sublist-item"><span class="bold">Externally,</span> we have been working closely with existing dutch psychedelics-related organisations (OPEN Foundation, Psychedelic Society of the Netherlands, MIND Foundation) since the conceptual stage of APRA. We thankfully acknowledge their support and will continue to expand such collaborations. Each association serves different purposes within a shared, common framework; with enough overlap to allow collaboration, but not redundancy.</li>
                            <li class="sublist-item"><span class="bold">Internally,</span> active membership, rather than passive participation, is very strongly encouraged. This is a key concept for APRA. In practice: 
                                <ul class="manifesto__container--body-corpus-sublist2"> 
                                    <li class="subsublist-item">Academic members have the advantage and responsibility of directly determining the activities of the association. </li>
                                    <li class="subsublist-item">Benefits, if available, are assigned proportionally to the amount of work and activity level of individuals or subgroups.</li>
                                </ul>                          
                             </li>
                        </ul>
                    </li>

                    <li class="list-item"><span class="bold">Multi-disciplinary, multi-level organisation.</span> Contributions from all fields of academic research are valued, with a preference for interdisciplinary efforts and “hard” sciences. APRA attempts to reflect the variety of approaches and different scales of psychedelic research with a multi-level structure: 
                        <ul class="manifesto__container--body-corpus-sublist"> 
                            <li class="sublist-item"><span class="bold">Full-scale </span>collective projects and activities that are relevant to the whole group and potentially external attendees. Organised by a central board. </li>
                            <li class="sublist-item"><span class="bold">Permanent subgroups </span>field-specific, semi-independent, collaborative subgroups. One for each sufficiently represented academic field. In order to avoid pigeonholing and promote exchange of ideas across disciplines, members are recommended to take part in projects from multiple subgroups. One or two coordinators are chosen for each subgroup among the most active members. They can organise activities and projects relevant to their own subgroup, with the support of APRA. </li>
                            <li class="sublist-item"><span class="bold">Temporary subgroups</span> task-specific, temporary subgroups formed to pursue a specific project or address organisational needs. </li>
                        </ul>
                    </li>


                    <li class="list-item"><span class="bold">On the ground.</span> APRA wishes to establish a strong bond with the Amsterdam universities and the territory through a bottom-up, practical approach. There are no plans for expansion beyond the city of Amsterdam: a localised group is often more integrated, effective and manageable. Rather than expanding, we direct resources towards improving the existing organisation. We encourage students and researchers from other cities and countries to start similar initiatives, and get in touch with us, to move together towards a collaborative network of psychedelic research associations. </li>
                    <li class="list-item"><span class="bold">Respect of privacy and personal freedom.</span> APRA does not condone any discrimination based on ethnicity, gender, or disability, and fully respects the personal freedom of its members. Individuals with and without an interest in personally exploring the effects of psychedelics are equally welcome to join, and retain full control over their privacy. APRA is in favour of harm reduction strategies, drug policies, and drug information based on scientific research rather than anecdotal evidence. Any “political” activity would only be towards the goal of facilitating research in this field; for all other psychedelics-law-related topics, APRA has no official position apart from the current status of scientific knowledge. Discussion, wherever possible, is valued and encouraged.</li>

                </ul>
                </p>

                <p class="manifesto__container--body-corpus-p2"> 
                    Further notes on personal/subjective psychedelic experiences:

                    <ul class="manifesto__container--body-corpus-list2"> 

                        <li class="list-item">Other affiliated associations (PSN,OPEN) in Amsterdam run events dedicated to discussing and sharing personal experiences in an informal environment, and we encourage interested students to attend such meetings.</li>
                        <li class="list-item">In certain fields, (e.g. psychology, psychotherapy) subjective experience may be the direct object of a research question. If formally phrased, this would be directly relevant to the scope of APRA.</li>
                        <li class="list-item">Other connections between individual experience and scientific research might be relevant. For example: can personal experience be translated into effective and rigorous scientific research questions?</li>

                    </ul>
                </p>

            </div>

            <p class="manifesto__container--body-corpus-closing">The above principles may be characterised as our “practical” values.
            There are more abstract and personal values that we try our best to express as individuals and as a collective, such as humility and honesty, enthusiasm, leadership by example, work ethic. Taken together, they define the ideal essence of the Amsterdam Psychedelic Research Association.
            <br><br>
            In the next posts, we will elaborate further on short, medium and long term plans for APRA. Thanks for reading!</p>


              <div class="manifesto__container--authorbox"> 
                <p class="manifesto__container--body-corpus-author">
                    This post was written by:
                    <br> <br>
                    Marco Aqil <br>
                    <em class="manifesto__container--body-italic">Founder, Amsterdam Psychedelic Research Association.<br>
                    Computational Neuroscience PhD Candidate, Spinoza Center for Neuroimaging.<br>
                    Biomedical Mathematics MSc, Vrije Universiteit Amsterdam<br>
                    Theoretical Physics BScHons, University of Edinburgh</em>
                </p>
            </div>
        </div>

      
    </div>

</div>